<main class="w-128 max-w-full min-h-screen mx-auto flex flex-col items-center justify-center p-4">
  <ng-icon class="text-primary" size="140" name="heroRocketLaunch"></ng-icon>
  <h1 class="text-center text-2xl font-bold capitalize">Final score</h1>
  <span class="text-center text-4xl font-bold capitalize mt-4">{{ score }} points</span>
  <button class="btn w-full capitalize btn-accent mt-8" type="button" routerLink="/" skipLocationChange>
    <ng-icon size="24" name="heroHome"></ng-icon>
    Home
  </button>
</main>
